<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/mitre-attack-helper.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mitre-attack-helper.js"></script>

    <title>Mitre Attack Helper| @ViewData["Title"]</title>
</head>
<body>
    <div id="layout" class="container-fluid m-1">
        <div id="spinner" class="spinner-border spinner-large"></div>
        @RenderBody()
    </div>
</body>
</html>