@page
@model MitreAttackHelper.Pages.Modal.ErrorModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Error</h5>
        </div>
        <div class="modal-body">
            <p>There was a problem loading the page.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide')">Close</button>
        </div>
    </div>
</div>
