@page
@model MitreAttackHelper.Pages.Modal.IntrusionSetMatchModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Top Matching Intrusion Sets</h5>
        </div>
        <div class="modal-body">
            <table id="intrusion-set-matches" class="table text-center" aria-describedby="Intrusion Set Matches">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Matches</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CombinedIntrusionSetData.Any())
                    {
                        foreach ((string Id, string Name, string Description, int Count) in Model.CombinedIntrusionSetData)
                        {
                            <tr>
                                <td title="@Description">@Name</td>
                                <td>@Count</td>
                                <td><a href="javascript: jIntrusionSelect('@Id');">View</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No Results Found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide')">Close</button>
        </div>
    </div>
</div>