@page
@model MitreAttackHelper.Pages.IndexModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<div id="page"></div>
<script>
    jLoad("page", "/Matrix");
</script>