@page
@model MitreAttackHelper.Pages.IndexModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<div id="page"></div>
<script>
    //Pre-loaded Intrusion Set Id for ZIRCONIUM for testing
    jLoad("page", "Matrix?intrusion-set=intrusion-set--4283ae19-69c7-4347-a35e-b56f08eb660b");
</script>